<div class="container">

    <div class="row">
        <div class="text text--white" class="text">WE'RE LAUNCHING SOON</h1></div>
    </div>

    <div class="row">
        <div class="text text--red">8</div>
        <div class="text text--red">9</div>
        <div class="text text--red">10</div>
        <div class="text text--red">11</div>
    </div>

    <div class="row">
        <div class="text text--lightgrey">DAYS</div>
        <div class="text text--lightgrey">HOURS</div>
        <div class="text text--lightgrey">MINUTES</div>
        <div class="text text--lightgrey">SECONDS</div>
    </div>
</div>

<footer class="page-footer launch">
    <div class="container">
        <div class="row">
            <div><a target="_blank" href="https://www.facebook.com/percentpledge/"><%=image_tag("icon-facebook.svg", alt: "Percent Pledge Facebook") %></a></div>
            <div><a target="_blank" href="https://twitter.com/percentpledge"><%=image_tag("icon-pinterest.svg", alt: "Percent Pledge Pinterest") %></a></div>
            <div><a target="_blank" href="https://www.instagram.com/percentpledge/"><%=image_tag("icon-instagram.svg", alt: "Percent Pledge Instagram") %></a></a></div>
        </div>
    </div>
</footer>




