

    <div class="container">
        <div class="row">
            <div class="col text text--white s12 text__spacing" id="header">WE'RE LAUNCHING SOON</div>
        </div>

        <div class="row" id="countdown-clock">
            <div class="col s3 text text--red text__larger background__medium--grey countdown" id="dtime"></div>
            <div class="col s3 text text--red text__larger background__medium--grey countdown" id="htime"></div>
            <div class="col s3 text text--red text__larger background__medium--grey countdown" id="mtime"></div>
            <div class="col s3 text text--red text__larger background__medium--grey countdown" id="stime"></div>
        </div>

        <div class="row">
            <div class="col s3 text text--lightgrey text__spacing">DAYS</div>
            <div class="col s3 text text--lightgrey text__spacing">HOURS</div>
            <div class="col s3 text text--lightgrey text__spacing">MINUTES</div>
            <div class="col s3 text text--lightgrey text__spacing">SECONDS</div>
        </div>
    </div>

    <footer class="page-footer launch">
        <div class="container">
            <div class="row">
                <div class = "col s4 offset-s4 m7 offset-m3 l5 offset-l4">
                    <span class="social-link"><a target="_blank" href="https://www.facebook.com/percentpledge/"><%=image_tag("icon-facebook.svg", alt: "Percent Pledge Facebook") %></a></span>
                    <span class="social-link"><a target="_blank" href="https://twitter.com/percentpledge"><%=image_tag("icon-pinterest.svg", alt: "Percent Pledge Pinterest") %></a></span>
                    <span class="social-link"><a target="_blank" href="https://www.instagram.com/percentpledge/"><%=image_tag("icon-instagram.svg", alt: "Percent Pledge Instagram") %></a></span>
                </div>
            </div>
        </div>
    </footer>



