body{
    background-color: hsl(234, 17%, 12%);
}

.text {
    font-family: 'Red Hat Text', sans-serif;
    font-size: 14px;
}

.text--white{
    color:hsl(0, 0%, 100%);
}

.text--lightgrey{
    color: hsl(237, 18%, 59%)
}

.text--red{
    color: hsl(345, 95%, 68%);
}